* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 1300px;
  max-width: 1200px;
  margin: 5px auto 0;
  min-height: 1000px;
  background-color: rgb(216, 231, 226);
  padding-bottom: 20px;
}

header {
  width: 45%;
  height: 70px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blanchedalmond;
}

.title {
  margin-left: 30px;
  font-family: Poppins;
  font-weight: bold;
}

/* Main part */

main {
  width: 1000px;
  min-height: 500px;
  margin: 20px 0 30px 40px;
  background-color: beige;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}

.plus-button {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 10px 0 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-button:hover {
  cursor: pointer;
}

.plus {
  width: 30px;
  height: 7px;
  background-color: rgb(92, 156, 240);
  border-radius: 10px;
  position: absolute;
}

.plus-vertical {
  transform: rotate(90deg);
}

/* Input task  */
.input-task {
  width: 800px;
  height: 150px;
  /* background-color: aqua; */
  display: none;
  margin-left: 20px;
  margin-bottom: 30px;
}

label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: Poppins;
}

input {
  width: 600px;
  height: 50px;
  font-size: 23px;
  margin-bottom: 10px;
}

#submit-button {
  width: 100px;
  height: 40px;
  color: green;
  margin-right: 20px;
  font-size: 20px;
}

#edit-button {
  width: 100px;
  height: 40px;
  color: green;
  margin-right: 20px;
  font-size: 20px;
}

#submit-button:hover {
  cursor: pointer;
}

#cancel-button {
  width: 100px;
  height: 40px;
  color: red;
  font-size: 20px;
}

#cancel-button2 {
  width: 100px;
  height: 40px;
  color: red;
  font-size: 20px;
}

#cancel-button:hover {
  cursor: pointer;
}

/* Tasks Unordered List */

.tasks-ul {
  list-style-type: none;
}

.tasks-ul li {
  margin: 10px 0 10px 10px;
  height: 45px;
  font-size: 25px;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.li-task__buttons-div {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.li-task__buttons-div button {
  font-size: 18px;
  width: 60px;
}

.li-task {
  font-family: Poppins;
  padding-left: 5px;
  font-weight: 400;
}

.li-task p {
  width: 600px;
}

.li-task p:hover {
  cursor: pointer;
}

.paragraph-linethrough {
  text-decoration: line-through;
}

.li-task__buttons-div button:nth-child(2) {
  color: red;
}

.tasks-container {
  min-height: 30px;
  width: 750px;

  margin-left: 10px;
}
